[submodule "ThirdParty/Streamline"]
	path = ThirdParty/Streamline
	url = https://github.com/NVIDIA-RTX/Streamline.git
	shallow = true
[submodule "Templates/Default3D"]
	path = Templates/Default3D
	url = https://github.com/shadow-kernel/Vortex-Engine-3D-Template.git
[submodule "Templates/HorrorStarter"]
	path = Templates/HorrorStarter
	url = https://github.com/shadow-kernel/Vortex-Engine-Horror-Template.git
